body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(63, 86, 107);
    padding: 10px;
    margin: 0%;
    
  }
  
  .mb {
    margin-right: 20px; 
  }
  
  button {
    background-color: #2739d4; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
  }
  
  button:hover {
    background-color: #929be6;
  }
  
  
  h1 {
    text-align: center;
  }
  
  p {
    margin: 10px;
  }

  #ti1{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .sbar {
    border-radius: 10px;
    width: 80%; 
    max-width: 500px; 
    padding: 10px; 
    margin: 0 auto; 
    display: block; 
    box-sizing: border-box; 
}

.bu_r{
    padding: 10px; 
    margin: 0.5% auto; 
    display: block; 
    width: 150px;
    height: 50px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.cco{
  display: block;
  text-align: center;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.vid{
  width: 700px;
  border-radius: 20px;
  box-shadow: 0 7px 9px #191a19;
}
a{
  text-decoration: none;
}
.oo{
  display: block;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: rgb(63, 86, 107);
    padding: 11px;
    margin: 0%;
}
.oo1{
  display: block;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: rgb(63, 86, 107);
    padding: 11px;
    margin-top: 100px;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}